.card-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 2px;
}
input{
    width: 250px;
}
#user-form{
    margin-bottom: 7px;
}
.button-inicio{
    margin-top: 7px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}